<section>
    
        <footer class="page-footer" style="background: black !important;">
          <div class="container">
            <div class="row">
              <div class="col l4 s12">
                <h6  style="color:#1B36FF;"><b> About I_AMVOCAL </b></h6>
                <p style="text-align:justify;">
                  I_AMVOCAL is a platform where people who have decided to let their voices be heard on things that concern them come together in civilized discourse and active participation in societal governance. We have built a transparent system of electoral voting powered by the concept of the blockchain... Want to know more about us? Go to <a class="text-lighten-3" style="color:#1B36FF;" href="/about_us"> about us </a>
                </p>
              </div>
              <div class="col l4  s12">
                <h6 style="color:#1B36FF;"><b> Quick links </b></h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/about_us">About us</a></li>
                  <li><a class="grey-text text-lighten-3" href="/blog">Our blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="/reports">Our experiences</a></li>
                  <li><a class="grey-text text-lighten-3" href="/team">Our team</a></li>
                </ul>
              </div>

              <div class="col l4  s12">
                <h6 style="color:#1B36FF;"><b> Contact us </b></h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/facebook">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="/twitter">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="/instagram">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="/youtube"> Youtube</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright" style="opacity: .3">
            <div class="container">
            © 2018 I_AMVOCAL
            </div>
          </div>
        </footer>
  </section>