<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>About us | I_AMVOCAL</title>
	<!-- all assets files --><link href="img/favicon.ico" rel="icon">
	<link rel="stylesheet" type="text/css" href="assets/materialize/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="assets/custom/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background: #F5F5F5">
	<% include includes/navbar %>
	<section id="section_body" >
		<div class="container">
			<div class="row">
			    <div class="col s12">
			      <div class="card full_card">
			        
			        <div class="card-content">
			        	<p class="card-title"> About us </p>
			          <h3 class="card-title" style="padding-bottom: 20px"><b> Our organisation</b></h3>
			         	<p>The I_AMVOCAL Organization is concerned with improving youth engagement in community leadership and stewardship through technology, advocacy and related creative offerings. The founders of I_AMVOCAL believe that to appropriately engage youths, elements of contemporary culture e.g. social media and music must be welded to the actual levers that move society, for example, polling booths and grassroots mobilization.</p><br>
			         	<p>We are a community of people who have decided to let their voices be heard in matters concerning their governance as well as their overall wellbeing. We believe that when people trust the system of selection of their leaders, they would be active participants in their governance</p><br>
			           
			          <p>Never before has there been such silence in our communities that the silence has become so deafening and we can't afford to keep quiet anymore. We are a community of change agents who believe in civilized discourse and consequent necessary action needed for effecting positive change in our society as well as delivering the dividends of good governance to the people</p><br>

			         <h3 class="card-title" style="padding-bottom: 20px"><b> Our approach</b></h3>
			         <p>We have built a transparent system of conducting elections and getting opinions of citizens on matters that concern them powered by the concept of the blockchain which is hinged on transparency and verifiability of transactions on the system.</p>
			         <p>Community engagement activities to spur action and active participation in the governance process. We engage in physical community-building activities so as to foster active participation in societal issues...</p>
			         <h3 class="card-title" style="padding-bottom: 20px"><b> Our mission </b></h3>
			         <p>To enlighten citizens to be active participants in their governance as well as emboldening them to aspire and work towards the ideal society we all envisage.</p>
			        </div>
			      </div>
			    </div>
			</div>
		</div>

	</section>

	<!-- footer section -->
	<% include includes/footer %>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/materialize/materialize/js/materialize.js"></script>
<script type="text/javascript" src="assets/custom/style.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	    $('.materialboxed').materialbox();
	  });
</script>
</body>

</html>