<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Sign in | I_AMVOCAL</title>
	<!-- all assets files --><link href="img/favicon.ico" rel="icon">
	<link rel="stylesheet" type="text/css" href="assets/materialize/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="assets/custom/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background: #F5F5F5">
	<% include includes/navbar %>

	<section id="section_body" >
		<div class="container">
			<div class="card horizontal" style="height: 100%; margin-top: 70px; margin-bottom: 70px">
		      <div class="card-image hide-on-med-and-down" style="height: auto">
		        <img style="max-height: initial !important; height: 100%; width: 50vw" src="https://images.unsplash.com/photo-1505148359496-35d8d1ec9645?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=af7fa9fe2a475fde150c284ccad2d4d2&auto=format&fit=crop&w=500&q=60">
		      </div>
		      <div class="card-stacked">
		        <div class="card-content">
		          <h5 class="underscore center-align">Log into your account</h5>

		          <!-- alert box -->
		          <div class="">
		          	<div class="row">
		          	  <% if(message.length){ %>
		          	  		<div class="col s12 m12 l12">
					        <div class="card-panel red alert_box">
					          <span class="white-text">Your email or password maybe incorrect.
					          </span>
					          <span id="close_button" class="white-text right-align" style="font-size: 12px; float: right !important; cursor: pointer;">[ Close ]
					          </span>
					        </div>
					      </div>
				      <% } %>

				    </div>
		          </div>
		          <!-- end -->
		          <div class="form_margin">
		          	<!-- form input -->
		          	<div class="row">
					    <form action="/signin" method="post" class="col s12">
					      <div class="row">
					        <div class="input-field col s12">
					          <i class="material-icons prefix">mail</i>
					          <input name="email" id="icon_prefix" type="text" class="validate">
					          <label for="icon_prefix">Enter your email address</label>
					        </div>
					        <div class="input-field col s12">
					          <i class="material-icons prefix">lock_open</i>
					          <input name="password" id="icon_telephone" type="password" class="validate">
					          <label for="icon_telephone">Enter your password</label>
					        </div>

					        <div class="col s12 right">
					        	<p>
							      <input  type="checkbox" class="filled-in right-align" id="filled-in-box" checked="checked" />
							      <label for="filled-in-box">Remember me</label>
							    </p>
					        </div>

					        <div class="col s12 " style="margin-top: 40px; margin-bottom: 40px">
					        <p>
					        	<button type="submit" class="waves-effect waves-light btn" style="width: 100%">Sign in</button>
					        </p>
					        </div>

					        <div class="col s12" style="padding-top: 40px">
					        	Don't have an account ? <a class="link" href="/signup">Sign up</a>
					        </div>
					      </div>
					    </form>
					</div>
		          </div>
		          
		        </div>
		      </div>
		    </div>
		</div>	



	</section>

	<!-- footer section -->
	<% include includes/footer %>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/materialize/materialize/js/materialize.js"></script>
<script type="text/javascript" src="assets/particlesjs/particles.js"></script>
<script type="text/javascript">
	particlesJS.load('particles-js', 'assets/custom/particles.json', function() {
	  console.log('callback - particles.js config loaded');
	});
</script>
<script type="text/javascript" src="assets/custom/style.js"></script>
</body>

</html>