<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>About us | I_AMVOCAL</title>
	<!-- all assets files -->
	<link rel="stylesheet" type="text/css" href="assets/materialize/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="assets/custom/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background: #F5F5F5">
	<% include includes/navbar %>
	<section id="section_body" >
		<div class="container">
			<div class="row">
			    <div class="col s12">
			      <div class="card full_card">
			        
			        <div class="card-content">
			          <h3 class="card-title" style="padding-bottom: 20px">Successful sign-up</h3>
			          <p>Thanks for signing up to be a change agent in our society. Please check your email so as to confirm your sign-up!</p>

			          <br>

			          
			        </div>
			      </div>
			    </div>
			</div>
		</div>

	</section>

	<!-- footer section -->
	<% include includes/footer %>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/materialize/materialize/js/materialize.js"></script>
<script type="text/javascript" src="assets/custom/style.js"></script>
</body>

</html>